<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Gestion des Etudiants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <header class="main-header">
        <h1>Gestion des Etudiants</h1>
    </header>

    <nav class="main-nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link {% if request.endpoint == 'index' %}current{% endif %}">Accueil</a></li>
        <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link {% if request.endpoint == 'register' %}current{% endif %}">Ajouter un autre Etudiant</a></li>
        
        <li class="nav-item">
            {% if session.logged_in %}
                <a href="{{ url_for('show_students') }}" class="nav-link">Liste des Etudiants</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="nav-link">Liste des Etudiants (Connexion)</a>
            {% endif %}
        </li>
        
        {% if session.logged_in %}
            <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Deconnexion</a></li>
        {% endif %}
    </ul>
    </nav>
    
    <main class="container">
        <h2 class="page-title">Bienvenue sur le site de gestion des Etudiants</h2>
        <p class="content-paragraph">Utilisez les liens de navigation ci-dessus pour gerer la base de donnes des Etudiants. Ce site est une demonstration du Backend avec Flask et Python.</p>
    </main>

    <footer class="main-footer">
        <p class="footer-text">&copy; 2026 Site de Gestion des Etudiants | Developpe par Mohamed</p>
    </footer>
    
</body>
</html>